<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Category</title>
    <link rel="stylesheet" type="text/css" th:href="@{/resource/css/style.css}" />
</head>
<body>
<div th:replace="/template/header :: content"></div>

<div th:replace="/template/navigation :: content"></div>

<section>
    <div th:replace="/template/left :: content"></div>

    <!--Main content-->
    <article>
        <h1>Create category</h1>
        <th:block th:if="${message}">
            <p th:text="${message}"></p>
        </th:block>
        <form th:action="@{/edit-category}" th:object="${category}" method="post">
            <table align="center">
                <input th:type="hidden" th:field="*{id}">
                <tr>
                    <td style="font-weight: bold">Name:</td>
                    <td><input type="text" th:field="*{name}" /></td>
                </tr>
                <tr>
                    <td></td>
                    <td style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></td>
                </tr>
                <tr>
                    <td colspan="2"><input type="submit" value="Update category"></td>
                </tr>
            </table>
        </form>
    </article>
    <!--/Main content-->

</section>

<div th:replace="/template/footer :: content"></div>
</body>
</html>