<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Contact</title>
</head>
<body>
    <div th:fragment="content">
        <aside>
            <h1>About me</h1>
            <p>Admin: Nguyen Dinh Truong</p>
            <p>Studying at Danang University of Technology</p>
            <p>Studying Java at Codegym Danang</p>
            <div class="fakeimg1">

            </div>
            <h1>Contact</h1>
            <p>Contact me with the link below</p>
            <div class="contact-box">
                <div class="box">Facebook</div>
                <div class="box">Instagram</div>
                <div class="box">Twitter</div>
                <div class="box">Github</div>
            </div>
        </aside>
    </div>
</body>
</html>